server:
  port: 9000
  netty:
    connection-timeout: 2s
    idle-timeout: 15s
  shutdown: graceful

spring:
  application:
    name: edge-service
  lifecycle:
    timeout-per-shutdown-phase: 15s

  cloud:
    gateway:
#      default-filters:
#        - name: GlobalFilter
#          preLogger: true
#          postLogger: false
      routes:
        - id: morder-route
          uri: http://localhost:8089/
          predicates:
            - Path=/morder/**
          filters:
            - AddRequestHeader=morder-token, aabckdilxlsldslk
            - AddResponseHeader=morder-response, morder

