<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/bootstrap-4.6.1-dist/css/bootstrap.css}" rel="stylesheet">

    <script th:src="@{/resources/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/resources/bootstrap-4.6.1-dist/js/bootstrap.js}"></script>
    <style>
        .div_1{
            display: flex;
            flex-direction: column;

            width: 100%;
            height: 800px;

            align-items: center;
        }

        .div_2{
            display: flex;
            flex-direction: column;

            width: 80%;
            height: 800px;

            align-items: center;
        }
    </style>
    <title> T1 </title>
</head>

<body>
<div>
    <h1>T1</h1>
    <div>
        <div class="div_1">
            <div class="div_2">
                <button type="button" class="btn btn-primary" onclick="t1()">api 연동</button>
            </div>
        </div>
    </div>

    <script>
        function t1(){
            $.ajax({
                url: '/api/test/t1',
                type: 'get',
                success : (result)=>{
                    if(result.result === 'OK'){
                        let data = result.data;
                        let output = data['name']+'--'+data['age'];
                        alert(output);
                    }else{
                        alert(result.reason);
                    }

                },error : (error)=>{
                    alert('error');
                }

            });
        }
    </script>
</div>
</body>
</html>